@tailwind base;
@tailwind components;
@tailwind utilities;

.circle {
  position: fixed;
  z-index: 100;
  display: flex;
  flex-flow: row;
  align-content: center;
  top: 10;
  left: 10;
  height: 30px;
  width: 30px;
  background-color: #ef4444;
  border-radius: 200px;
  pointer-events: none;
  color: #fff;
  text-align: center;
  font-size: 30px;
}

@media (max-width: 768px) {
  .circle {
    display: none;
  }
}
